<network>
  <name>{{ xtoph_deploy.maine_profile.network.deafult.network_name }}</name>
  <forward mode='{{ xtoph_deploy.maine_profile.network.default.fwd_type }}' />
  <bridge name='{{ xtoph_deploy.maine_profile.network.default.network_name }}' />
</network>
