<!-- {{ xtoph_deploy.platform_profile.vm.name }} -->
<network>
  <name>{{ xtoph_deploy.machine_profile.network.default.network_name }}</name>
  <forward mode='bridge' />
  <bridge name='{{ xtoph_deploy.machine_profile.network.default.network_name }}' />
</network>
