#!/bin/bash

##
##    This script is intended to be used with
##    the xtoph_deploy ansible role.  It combines
##    all steps to create a libvirt network for
##    for use with VMs running in kvm.
##
##    The intent is to provide one command for
##    an ansible shell-task which can be throttled.
##    Thus all the steps from detection to creation,
##    need to be provided in one atomic command.
##

##
##    Test for libvirt network
##



if ! virsh net-info "{{ xtoph_deploy.libvirt.network.net0.network_name }}"; then
 
    ##
    ##    Create & Start the libvirt network
    ##
    
    virsh net-define "{{ xtoph_deploy.deployhost.tmp_dir }}/artifacts/libvirt-network.xml"
 
    
    virsh net-start "{{ xtoph_deploy.libvirt.network.net0.network_name }}"


    virsh net-autostart "{{ xtoph_deploy.libvirt.network.net0.network_name }}"
    
fi
