#!/bin/bash

##
##    This script is intended to be used with
##    the xtoph_deploy ansible role.  It combines
##    all steps to create a libvirt network for
##    for use with VMs running in kvm.
##
##    The intent is to provide one command for
##    an ansible shell-task which can be throttled.
##    Thus all the steps from detection to creation,
##    need to be provided in one atomic command.
##

##
##    Test for libvirt network
##



if ! virsh net-info "{{ xtoph_deploy.machine_profile.network.default.network_name }}"; then
 
    ##
    ##    Create & Start the libvirt network
    ##
    
    virsh net-define "/var/tmp/{{ xtoph_deploy.machine_profile.network.default.network_name }}-network.xml"
    
    virsh net-start "{{ xtoph_deploy.machine_profile.network.default.network_name }}"

    virsh net-autostart "{{ xtoph_deploy.machine_profile.network.default.network_name }}"

    echo "libvirt network CHANGED for ansible's benefit"
    
fi
