# {{ xtoph_deploy.hostname }} 
# {{ xtoph_deploy.machine_profile.network.default.ip }}

default menu.c32
prompt 0
timeout 150

label {{ xtoph_deploy.kickstart_profile.mnt }}
  menu label Install system with {{ xtoph_deploy.kickstart_profile.mnt }}
  menu default
  say Starting installation...
  kernel images/{{ xtoph_deploy.kickstart_profile.mnt }}/vmlinuz
  append initrd=images/{{ xtoph_deploy.kickstart_profile.mnt }}/initrd.img rd.live.check quiet inst.text inst.ks={{ xtoph_deploy.deployhost.kickstart.url }}/{{ xtoph_deploy.clustername }}-{{ inventory_hostname }}.cfg inst.repo={{ xtoph_deploy.deployhost.repos.url }}/{{ xtoph_deploy.kickstart_profile.mnt }} ip={{ xtoph_deploy.machine_profile.network.default.ip }}::{{ xtoph_deploy.machine_profile.network.default.gateway }}:{{ xtoph_deploy.machine_profile.network.default.netmask }}::{{ xtoph_deploy.machine_profile.kickstart.netdev }}:none nameserver={{ xtoph_deploy.machine_profile.network.default.nameserver }}

label local
  menu label Boot from ^local drive
  localboot 0xffff
