#!/bin/bash

##
##    This script is intended to be used with
##    the xtoph_deploy ansible role.  It combines
##    all steps to REMOVE a bridge network if
##    it can be determined that no hosts (active or
##    inactive) are configured to use it.
##
##    The intent is to provide one command for
##    an ansible shell-task which can be throttled.
##


##
##    This file is a place holder for a future solution.
##
##    Deleting a bridge which may be used by other hosts,
##    vms, processes, containers, etc... is too 
##    risky for this set of automation tasks
##

