    --disk "{{ xtoph_deploy.machine_profile.storage.[t_disk_profile].qcow_dir }}/{{ xtoph_deploy.platform_profile.vm.name }}-{{ t_diskname }}.qcow2,bus={{ xtoph_deploy.machine_profile.storage.[t_disk_profile].bus }},sparse={{ xtoph_deploy.machine_profile.storage.[t_disk_profile].sparse }},size={{ t_disksize }}" \
