    --disk "{{ xtoph_deploy.libvirt.storage.qcow_dir }}/{{ xtoph_deploy.libvirt.vm.name }}-{{ t_diskname }}.qcow2,bus={{ xtoph_deploy.hardware_profile.disk.bus }},sparse={{ xtoph_deploy.hardware_profile.disk.sparse }},size={{ t_disksize }}" \
