#!/bin/bash

virt-install --name "{{ xtoph_deploy.platform_profile.vm.name }}" \
    --memory memory={{ (xtoph_deploy.resource_profile.memsize * 1.5)|int }},currentMemory={{ xtoph_deploy.resource_profile.memsize }} \
    --check disk_size=off \
    --graphics vnc \
    --vcpus {{ xtoph_deploy.resource_profile.vcpus }} \
    --cpu {{ xtoph_deploy.machine_profile.cpu.type | default ('host-model') }} \
    --boot hd,network,menu=yes \
    --osinfo detect=on,require=off \
    --disk "{{ xtoph_deploy.machine_profile.storage.default.qcow_dir }}/{{ xtoph_deploy.platform_profile.vm.name }}.qcow2,bus={{ xtoph_deploy.machine_profile.storage.default.bus }},sparse={{ xtoph_deploy.machine_profile.storage.default.sparse }},size={{ xtoph_deploy.resource_profile.storage.root.size }}" \
    --network "network={{ xtoph_deploy.machine_profile.network.default.network_name }},mac={{ h_pubMAC }},model={{ xtoph_deploy.machine_profile.network.default.model }}" \
    --noreboot \
